
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Ortoni Report
/ortoni-report/  

# Allure Report
/allure-report/
/allure-results/